<nav class="navbar navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand" href="/">BLACK HAT VPS 🚀</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" href="/">Accueil</a></li>
        <li class="nav-item"><a class="nav-link" href="/about">Équipe</a></li>
        <li class="nav-item"><a class="nav-link" href="https://panel.hosting.blackhatvps.store" target="_blank">Services</a></li>
        <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
        <li class="nav-item"><a class="nav-link" href="/cookies">Cookies</a></li>
        <li class="nav-item"><a class="nav-link" href="/privacy">Privacy</a></li>
        <li class="nav-item"><a class="nav-link" href="/terms">Terms</a></li>
      </ul>
    </div>
  </div>
</nav>